.logo{
    width: 100%;
    border-radius: 20px;
}
.nav-search{
    margin: 1rem 0;
}
.link-text{
    text-decoration: none;
    color: #00575C;
}
.link-text:hover{
    text-decoration: underline;
}
#help{
    float: right;
    margin: 1rem 0;
}
.main{
    margin: 0;
    padding: 0;
    background-image: url('https://sikido.vn/uploads/source/hinhanhh/26231544-406720329760652-93245680665125997-n.jpg'); /* Đường dẫn đến hình nền */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    height: 100vh;
}
.form{
    margin: 3rem 0 1rem 0;
    padding: 3rem;
    height: 400px;
    background-color: white;
    border-radius: 30px;
}
.btn{
    color: white !important;
    background-color: #00575C !important;
}
.btn:hover{
    background-color: #FFB800 !important;
}
.login{
    height: 46px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    border-radius: 30px !important;
}
.text-log{
    margin: 1rem 0 1rem 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}
.text-log>span{
    font-weight: 400;
    color: #7A7A7A;
}

